.group-btns {
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

.group-btns > *:not(:last-child) {
    margin-right: 5px;
    flex-basis: 24.35%;
}

.full-width {
    width: 100% !important;
}

.wrap-btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    min-width: calc(25% - 10px);
    text-align: center;
    border-radius: 3px;
    background: #AAA;
    align-items: center;
   -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
           box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

.wrap-btn > *{
    padding: 0 .3rem;
    text-align: center;
    cursor: pointer;
}

.wrap-btn > .label {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin: 2.5px 0;
}

.wrap-btn.inline {
    flex-direction: row;
}

.group-btns .wrap-btn.full, .wrap-btn .btn {
    width: 100% !important;
}

.btn {
	padding: 0rem 1rem;
	border-radius: 2px;
	box-sizing: border-box;
	outline: none;
	font-size: inherit;
	display: inline-block;
	background: #5588C0;
    border: none;
	color: #eee;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
    height: 36px;
    line-height: 36px;
}

.btn.submit {
    min-width: 100px;
    height: 50px;
    line-height: 50px;
}

.btn.right {
    display: block;
    float: right;
}

.btn.left {
    display: block;
    float: left;
}

.btn.full {
  width: 100%;
}

.btn.btn-small { 
	height: 25px;
  line-height: 25px;
}

.btn.btn-xsmall { 
	height: 20px;
  line-height: 20px;
}

.btn.btn-big { 
  height: 52px;
  line-height: 52px;
}

.btn.btn-round { 
	border-radius: 4px;
}

.btn:hover {
	background: darken(#3498DB, 15%);
}

a.btn:hover, a.btn:focus, a.btn:active {
	color: #FFF;
}

/* -------------------------------------
	Colors and Hover color
   ------------------------------------ */ 
.btn.yellow {
	background: #F1C40F;
}
.btn.yellow:hover {
	background: darken(#F1C40F, 15%);
}

.btn.orange {
	background: #E67E22;
}
.btn.orange:hover {
	background: darken(#E67E22, 15%);
}

.btn.red {
	background: #F00;
}
.btn.red:hover {
	background: darken(#F00, 15%);
}

.btn.green {
	background: #5ab380;
}
.btn.green:hover {
	background: darken(#5ab380, 15%);
}

.btn.mint {
	background: #00BEB3;
}
.btn.mint:hover {
	background: darken(#00BEB3, 15%);
}

.btn.white {
	background: #FFF;
	color: #253aa5;
  border: 1px solid #253aa5;
}

.btn.gray {
	background: #CCC;
  color: #333;
}

.btn.gray:hover {
	background: darken(#CCC, 15%);
}

.btn.pink {
	background: #FE4365;
}

.btn.pink:hover {
	background: darken(#FE4365, 15%);
}

a.btn.white:hover, a.btn.white:focus, a.btn.white:active {
	color: #333;
}

a.btn.white:active {
	color: #333;
}

/*----------
Font-Awesome Icon
------------------*/

.btn .fa.inline{
	display: block;
}

/* -------------------------------------
	Wrap Controls
   ------------------------------------ */ 

.controls {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-wrap: wrap;
     -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          
  background: #FFF;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  border-radius: 2px;
  padding: 1px;
}

@media(max-width: 415px){
    .group-btns .wrap-btn {
        width: calc(50% - 10px);
    }
}

@media(max-width: 320px){
    .group-btns .wrap-btn {
        width: calc(100% - 10px);
    }
}