.bg-yellow {
	background: $yellow!important;
	color: $white!important;
}

.bg-orange {
	background: $orange!important;
	color: $white!important;
}

.bg-green {
	background: $green!important;
	color: $white!important;
}

.bg-blue {
	background: $blue!important;
	color: $white!important;
}

.bg-sky {
	background: $sky!important;
	color: $white!important;
}

.bg-bluewood {
	background: $bluewood!important;
	color: $white!important;
}

.bg-red {
	background: $red!important;
	color: $white!important;
}

.bg-purple {
	background: $purple!important;
	color: $white!important;
}

.bg-gray {
	background: $gray!important;
	color: $black!important;
}

.bg-dark-gray {
	background: $dark-gray!important;
	color: $black!important;
}

.bg-light-gray {
	background: $light-gray!important;
}

.bg-navy {
	background: $navy!important;
	color: $white!important;
}

.bg-white {
	background: $white!important;
	color: $black!important;
}

.bg-mint {
	background: $mint!important;
	color: $white!important;
}


.fn-yellow {
	color: $yellow!important;
}

.fn-orange {
	color: $orange!important;
}

.fn-green {
	color: $green!important;
}

.fn-blue {
	color: $blue!important;
}

.fn-sky {
	color: $sky!important;
}

.fn-bluewood {
	color: $bluewood!important;
}

.fn-red {
	color: $red!important;
}

.fn-purple {
	color: $purple!important;
}

.fn-gray {
	color: $gray!important;
}

.fn-dark-gray {
	color: $dark-gray!important;
}

.fn-light-gray {
	color: $light-gray!important;
}

.fn-navy {
	color: $navy!important;
}

.fn-black {
	color: $black!important;
}


.fn-white {
	color: $white!important;
}

.fn-mint {
	color: $mint!important;
}