
nav.nav-header,  .nav.nav-header {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background: #2D905F;
    top: 0;  
    height: 40px;
    /* background-image: linear-gradient(to top left,#497935,#168659); */
    z-index: 3;
}

nav.nav-header .item,  .nav.nav-header .item {
    position: relative;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    line-height: 40px;
    padding: 0 0.5rem 0 .5rem;
    color: #eee;
    text-decoration: none;
}

nav.nav-header .item.grow,  .nav.nav-header .item.grow {
    flex-grow: 1;
}

nav.nav-header .item.item-menu-btn.dropbox .wrap-dropbox-content, 
.nav.nav-header .item.item-menu-btn.dropbox .wrap-dropbox-content {
    left: 5px;
}

nav.nav-header .item .fas.fa-eye, .nav.nav-header .item .fas.fa-eye {
    font-size: 2.25em;
}

nav.nav-header .item.item-circle,  .nav.nav-header .item.item-circle {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-radius: 50%;
    background: #ccc;
    height: 35px;
}

.nav-header #toggle-listview.min-max {
   display: none;
}

@media (max-width: 999px) {
    .nav-header .item.min-max {
        display: none;
        width: 50px;
        text-align: center;
        border-radius: 3px;
        font-size: 1.9rem;
        margin-left: 0 !important;
    }

    .nav-header .item#toggle-listview.min-max.show {
        display: block;
    }
}


