
.panel {
    position: relative;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 40px;
    height: calc(100vh - 40px);
}

.panel .full-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in;
    background: #EEE;
    z-index: 0;
}

.panel .full-panel#panel-payment {
     -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.panel .full-panel#panel-group-tables {
     -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);       
}

.panel .full-panel#panel-group-items {
     -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}

.panel .full-panel#panel-payment.show, 
.panel .full-panel#panel-group-tables.show,
.panel .full-panel#panel-group-items.show {
    visibility: visible;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    transition: transform .2s ease-in-out;
    z-index: 2;
}

.panel .full-panel#panel-payment.hide, 
.panel .full-panel#panel-group-tables.hide,
.panel .full-panel#panel-group-items.hide {
    transition: .2s all;
    z-index: 1;
}

.panel #panel-payment.full-panel .nav-toolbar{
    background: #AAA;
    justify-content: space-between;
}

.panel #panel-payment.full-panel .nav-toolbar .title {
    font-weight: bold;
    padding: 0 .5rem;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #EEE;
}

.panel .left-panel {
    position: absolute;
    width: 40%;
    background: #EEE;
    height: 100%;
    z-index: inherit;
}

.panel .left-panel .group-btns.operation {
    position: absolute;
    bottom: 0;
}

.panel .left-panel .group-btns.operation .wrap-btn .btn {
    background: #5AB07A;
}

.panel .left-panel nav.nav-toolbar.top,
.panel .left-panel .nav.nav-toolbar.top {
    background: #50A775;
    justify-content: space-between;
}

.panel .left-panel .wrap-table.list {
    background: #eee;
    height: calc(100% - 230px);
}

.panel .left-panel .wrap-table.summary {
    height: auto;
    margin: 5px 0 5px 0;
}


.panel .right-panel {
  position: absolute;
  height: 100%;
  width: 60%;
  right: 0;
  background: #9C8F77;
  z-index: inherit;
}

.panel .right-panel.hide {
    visibility: collapse;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    z-index: 0;
    transition: all .2s linear;
}

.panel .right-panel.full {
    width: 100%;
    transition: all .2s linear;
}

.panel nav.nav-toolbar.top,
.panel .nav.nav-toolbar.top {
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.panel .right-panel .goto-panel-group-tables.mobile {
    display: none;
}

.panel .right-panel nav.nav-toolbar.bottom,
.panel .right-panel .nav.nav-toolbar.bottom {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #aaa;
    background: #BBB;
}

.panel .right-panel nav.nav-toolbar.bottom .item,
.panel .right-panel .nav.nav-toolbar.bottom .item {
    margin: 0;
}

.panel .right-panel nav.nav-toolbar.bottom .item .datetime,
.panel .right-panel .nav.nav-toolbar.bottom .item .datetime {
    background: #707070;
    height: 40px;
    width: 200px;
    padding: 0 .3rem;
    right: 0;
    line-height: 35px;
    text-align: center;
    position: relative;
    margin: 0;
}

.panel .right-panel nav.nav-toolbar.bottom .item .datetime::before,
.panel .right-panel .nav.nav-toolbar.bottom .item .datetime::before {
    position: absolute;
    left: -49.9px;
    content: '';
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 50px solid #707070;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
    .panel .full-panel {
        height: calc(100%);
    }
}

@media(max-width: 999px){
    .panel {
        flex-flow: column-reverse;
    }

    .panel .left-panel, .panel .right-panel {
        position: absolute;
        width: 100%;
        z-index: 1;
        transition: all .2s linear;
    }

    .panel .right-panel .goto-panel-group-tables.mobile {
        display: block;
    }
}

@media(max-width: 415px){
    .panel nav.nav-toolbar.top,
    .panel .nav.nav-toolbar.top {
        justify-content: flex-end;
    }
}