 nav.nav-toolbar,  .nav.nav-toolbar {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    /* background-image: linear-gradient(to top left,#368263,#4da02c); */
    height: 40px;
}

nav.nav-toolbar.responsive, .nav.nav-toolbar.responsive {
    display: none;
}

nav.nav-toolbar .item, .nav.nav-toolbar .item {
    line-height: 30px;
    color: #fff;
    margin: 0 .3rem;
}

nav.nav-toolbar .item.grow, .nav.nav-toolbar .item.grow {
    flex-grow: 1;
}

@media(max-width: 415px){
    nav.nav-toolbar.responsive, .nav.nav-toolbar.responsive {
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex; 
        display: flex;
        height: auto;
    }

    nav.nav-toolbar .item.breadcrumb, .nav.nav-toolbar .item.breadcrumb {
        display: none;
    }

    nav.nav-toolbar.responsive .item.item.breadcrumb, .nav.nav-toolbar.responsive .item.breadcrumb {
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex; 
        display: flex;
        list-style: none;
        margin: 0;
    }
}