*, *::before, *::after {
    box-sizing: border-box;
}

input.final-result {
    outline: none;
    width: 150px;
    height: 30px;
    line-height: 30px;
    padding: 0 .5rem;
}

.calculator *, .calculator *::before, .calculator *::after {
    -webkit-user-select: none; /* Chrome/Safari */        
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
            user-select: none;
    font-family: 'Red Hat Display', sans-serif;
}

.calc-container {
    position: relative;
    z-index: 999;
}

.calculator {
    height: auto;
    position: absolute;
    right: 0;
    top: 35px;
    -webkit-transform: translateY(25px);
       -ms-transform: translateY(25px);
           transform: translateY(25px);
    visibility: collapse;
    transition: all .15s linear;
    z-index: 999;
}

.calculator.show {
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    transition: all .2s ease-in;
}

.calculator.standard {
    width: 170px;
    border: 1px solid #AAA;
    background: #EEE;
    margin-top: 2.5px;
}

.calculator .navigator {
    height: 30px;
    line-height: 30px;
    padding: 0 .3rem;
}

.calculator .navigator.output {
    margin: .5px;
    background: #999;
    text-align: right;
}

.calculator .navigator.reserve {
    text-align: left;
    font-size: .75em;
}

.calculator .keypad {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-wrap: wrap;
    min-height: auto;
    max-height: 100%;
}

.calculator .keypad .key {
    position: relative;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}

.calculator .keypad .key .backspace {
    position: relative;
    display: inline-block;
    text-decoration: none;
    background-color: #777777;
    color: #fff;
    cursor: pointer;
    list-style: none;
    line-height: 16px;
}

.calculator .keypad .key .backspace::before {
    position: absolute;
    content: "";
    left: -8px;
    border-top: 8px solid transparent;
    border-right: 8px solid #777777;
    border-bottom: 8px solid transparent;
}

.calculator .keypad .key .backspace::after{
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 100%;
    width: 6px;
    height: 16px;
    background: #777777; 
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.calculator.standard .keypad .key {
    flex-basis: 25%;
    border-radius: 1px;
    background: #AA9;
    line-height: 30px;
    border: 1px solid #EEE;
    text-align: center;
}

.calculator.standard .keypad .key:hover {
    background: darken(#AA9, 7%);
}

.calculator.standard .accept-result {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.calculator.standard .accept-result:hover {
    background: darken(#EEE, 10%);
}


