//@version 1.0
.dialog-box-background {
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: all .25s;
}

.dialog-box-background.blur {
    top: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
    transition: all .25s;
}

//dialog-box positions
.dialog-box-background.center {
    align-items: center;
    justify-content: center;
}

.dialog-box-background.center-left {
    align-items: flex-start;
    justify-content: center;
}

.dialog-box-background.center-right {
    align-items: flex-end;
    justify-content: center;
}

.dialog-box-background.top-left {
    align-items: flex-start;
    justify-content: flex-start;
}

.dialog-box-background.top-center {
    align-items: center;
    justify-content: flex-start;
}

.dialog-box-background.top-right {
    align-items: flex-end;
    justify-content: flex-start;
}

.dialog-box-background.bottom-left {
    align-items: flex-start;
    justify-content: flex-end;
}

.dialog-box-background.bottom-center {
    align-items: center;
    justify-content: flex-end;
}

.dialog-box-background.bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
}

.dialog-box {
    background: #FFF;
    z-index: -1;
    margin: .25rem;
    -webkit-box-shadow: 0px 0px 5px .25px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px .25px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px .25px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: #EEE;
    opacity: 0;
    visibility: collapse;
    transition: all .2s;
    width: auto;
    height: auto;
}

.dialog-box.shutdown {
    visibility: collapse;
    opacity: 0;
    transition: all .2s;
}

.dialog-box.startup {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0) !important;
        -ms-transform: translate(0) !important;
            transform: translate(0) !important;
    transition: all .2s;
}

.dialog-box .header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #CCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #AAA;
    width: 100%;
    font-family: sans-serif;
    font-size: 1.5em;
}

.dialog-box .header .wrap-icon {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.dialog-box .header .caption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: calc(100% - 2 * 40px);
    font-size: .9em;
    font-weight: bold;
}

.dialog-box .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 150px;
    align-items: center;
    justify-content: center;
    padding: 7px;
    background: #BCC;
    text-align: center;
    white-space: normal;
    word-break: break-word;
    border-bottom: 1px solid #AAA;
    width: 350px;
}

.dialog-box .content > * {
    width: 100%;
    text-align: center; 
    display: block !important;
}

.dialog-box .footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #ACADAE;
}

.dialog-box .icon {
    position: relative;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-flow: row wrap;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .5);
    text-align: center;
    color: #FFF;
    align-items: center;
    justify-content: center;
    padding: .15rem;
    font-family: sans-serif;
    width: 30px;
    height: 30px;
    line-height: 1.5rem;
    z-index: inherit;
    background: #2D905F;
}

.dialog-box .icon.icon-circle {
    border-radius: 50%;
}

.dialog-box .icon.icon-square {
    border-radius: 3px;
}

.dialog-box .icon > * {
    font-size: .9em;
}

.dialog-box .icon.icon-close {
    background: #EEE;
    width: 23px;
    height: 23px;
    cursor: pointer;
    font-family: serif;
    font-size: 1.1em;
}

.dialog-box .icon.icon-close::after {
    position: absolute;
    content: "×";
    color: #333;
    height: auto;
}

.dialog-box .icon.info {
    background: #2D905F;
}
.dialog-box .icon.info::after {
    content: "i";
}

.dialog-box .icon.warning {
    background: #CD7C0A;
}
.dialog-box .icon.warning::after {
    content: "!";
}

.dialog-box .icon.danger {
    background: #E5050A;
}
.dialog-box .icon.danger::after {
    content: "×"; 
}

.dialog-box .wrap-button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    min-height: 40px !important;
    padding: 0 5px;
    width: 100%;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dialog-box .wrap-button.free-space {
    min-height: 40px;
}

.dialog-box .wrap-button > *:not(:last-child) {
    margin-right: 5px;
}

.dialog-box .wrap-button.left {
    justify-content: flex-start;
}

.dialog-box .wrap-button.center {
    justify-content: center;
}

.dialog-box .wrap-button.right {
    justify-content: flex-end;
}

.dialog-box .wrap-button .button {
    padding: 0rem 1rem;
	border-radius: 3px;
	box-sizing: border-box;
	outline: none;
	font-size: inherit;
	display: inline-block;
	background: #5588C0;
    border: .5px solid;
	color: #EEE;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
    min-width: 55px;
    height: 30px !important;
    line-height: 30px !important;
}

.dialog-box .wrap-button .button:hover {
    background: darken(#5588C0, 10%);
}

@media(max-width: 415px){

    .dialog-box {
        width: calc(100vw - 1rem);
        min-height: 125px;
    }

    .dialog-box .content {
        width: 100%;
    }
}
