$viewport-m: 32rem !default;
$viewport-l: 48rem !default;

$font-size: 15px !default;
$font-size-m: 15px !default;
$font-size-l: 16px !default;
$font-weight: 400 !default;
$font-color: #333 !default;

$font-family:  "Roboto", sans-serif, Khmer !default;
$monospace-font-family: "Monaco" !default;

$measure-width: 1200px !default;


$green:    #2ECC71;
$yellow:    #F1C40F;
$gold: #AD9447;
$orange:    #E67E22;
$pink:    #FE4365;
$blue:    #253aa5;
$sky:    #5588C0;
$purple:   #9B59B6;
$red:	  #F00;
$light-gray: #F2F3F4;
$gray:	  #CCC;
$dark-gray: #626567;
$navy:	  #34495E;
$white:    #FFF;
$black:    #333;
$mint: #00BEB3;
$bluewood: #2C3E50;